/* กำหนดค่าฟอนต์และสีหลักของเว็บไซต์ */
body {
    font-family: 'Prompt', sans-serif;
    background-color: #FDFBF7; /* สีครีมละมุน */
    color: #2D263B;            /* สีม่วงเข้มเกือบดำ สำหรับตัวหนังสือ */
}

/* เพิ่มเติมสไตล์หรือเอฟเฟกต์เฉพาะตัวได้ที่นี่ถ้าต้องการ */
::selection {
    background-color: #D1C4E9;
    color: #2D263B;
}